/* 確保整個頁面填滿瀏覽器 */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* 內容區域自動撐開 */
.content {
    flex: 1;
    padding: 20px;
    margin-bottom: 40px;
    /* ✅ 預留 footer 的高度空間或距離 */
}

/* 固定頁尾樣式 */
footer {
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Microsoft JhengHei", Arial, sans-serif;
    /* 中文：微軟正黑體；英文：Arial */
    font-weight: bold;
    /* 加粗 */
}

label {
    font-family: "Microsoft JhengHei", Arial, sans-serif;
    /* 中文：微軟正黑體；英文：Arial */
    font-weight: bold;
    /* 加粗 */
}